MAX_BATCH_SIZE=1000
MAX_CONCURRENCY=10
MAX_RESULTS_PER_QUERY=100
SEARCH_TIMEOUT_SECONDS=30
CACHE_TTL_SECONDS=300
PROVIDER_RPS=5
PROVIDER_CONCURRENCY=3
PROVIDER_TIMEOUT_SECONDS=10
RETRY_ATTEMPTS=3
ENRICHMENT_ENABLED=false
